<div class="h-[100%] p-4 md:pt-2 md:pl-9 space-y-4 bg-gray-700 border-t-[0.5px]" *ngIf="selectedCompanyDetails">
    <div *ngFor="let project of selectedCompanyDetails.projects"
        class="leading-relaxed text-gray-500 dark:text-gray-400">
        <div class="font-bold text-white text-lg pb-4 indent-0 md:text-start">
            {{project.name}}
        </div>
        <table style="border-spacing: 10px;">
            <tr>
                <th class="font-bold">Client:</th>
                <td>{{project.client}}</td>
            </tr>
            <tr>
                <th class="font-bold">Type:</th>
                <td>{{project.type}}</td>
            </tr>
            <tr>
                <th class="font-bold">Duration:</th>
                <td>{{project.projectDetails.DOS}} <span class="font-bold">-</span>
                    {{project.projectDetails.DOE ||
                    'Present'}}
                </td>
            </tr>
            <tr *ngIf="project.location">
                <th class="font-bold">Location:</th>
                <td>{{project.location}}</td>
            </tr>
        </table>
    </div>
</div>