<div class="my-5 md:my-10 relative">
    <h2 class="p-2 md:p-5 font-bold text-lg text-blue-100">Primary Skills</h2>
    <app-primary-skills></app-primary-skills>
</div>
<div class="my-5 md:my-10" appScrollingAnimation id="secondary">
    <h2 class="p-2 md:p-5 font-bold text-lg text-blue-100">Secondary Skills</h2>
    <app-secondary-skills></app-secondary-skills>
</div>
<div class="my-5 md:my-10" appScrollingAnimation id="other">
    <h2 class="p-2 md:p-5 font-bold text-lg text-blue-100">Other Skills</h2>
    <app-other-skills></app-other-skills>
</div>