<div class="flex flex-wrap gap-4 justify-center">
    <div class="flex flex-col justify-center items-center h-[70px] w-[70px] md:h-[100px] md:w-[100px] rounded-md bg-gray-200 hover:scale-105 hover:bg-gray-100 transition-all duration-300 ease-in-out"
        *ngFor="let skill of otherSkills">
        <img class="ml-auto mr-auto" [src]="skill.img" loading="lazy">
        <h3
            class="w-[60px] truncate overflow-hidden whitespace-nowrap text-center text-sm md:text-md font-bold text-gray-600">
            {{
            skill.name }}</h3>
    </div>
</div>