<!-- Header Section -->
<nav class="bg-white border-gray-700 border-1 border-b py-5 dark:bg-gray-900">
    <div class="flex flex-wrap items-center gap-11 max-w-screen-xl px-12 mx-auto justify-between md:justify-start" title="profile page">
        <a routerLink="/" class="flex items-center">
            <img src="https://static.vecteezy.com/system/resources/previews/017/302/407/original/modern-bh-logo-design-for-business-and-company-identity-creative-bh-letter-with-luxury-concept-vector.jpg"
                class="h-6 mr-3 sm:h-9" alt="Landwind Logo">
        </a>
    </div>
</nav>