<div class="container">
    <div class="intro absolute top-20 lg:top-80 left-4 lg:left-9">
        <div class="profile-name text-2xl lg:text-[40px]">Basavaraja Hiruru</div>
        <div class="role-container lg:mt-2 lg:w-[400px] lg:h-[30px]">
            <span class="text first-text inline-block h-auto text-sm lg:text-[30px]">I'm a</span>
            <span class="text sec-text ml-2 inline-block text-sm lg:text-[30px]">Web Developer</span>
        </div>
    </div>
    <div class="absolute w-[300px] mt-4 lg:mt-0 lg:bottom-4 right-12 text-center">
        <app-animate-skills></app-animate-skills>
    </div>
    <!-- <div class="animateImage absolute top-7 right-7">
        <img class="rounded-full w-[400px] h-[400px]" src="/assets/img/coding.webp" alt="my img">
    </div> -->
</div>