.profile-name {
    color: rgba(225, 225, 225, .01);
    background: white;
    background: linear-gradient(rgb(236, 213, 172) 20%, white 80%);
    background-repeat: repeat;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-weight: 900;
}

.intro {
    animation: introMotion 1s ease-in;
}

@keyframes introMotion {
    from {
        left: 0;
    }

    to {
        left: 1rem;
    }
}

//Role
.role-container {
    overflow: hidden;
    display: flex;
}

.role-container .text {
    position: relative;
    color: #40f4d2;
    font-weight: 800;
}

.role-container .text.first-text {
    color: #FFF;
}

.text.sec-text {
    display: inline-block;
    width: 0px;
    white-space: nowrap;
    overflow: hidden;
    transition: width 2s ease;
    word-break: keep-all;
}

.animateImage {
    animation: motion 1s ease-in;
}

@keyframes motion {
    from {
        right: 0;
    }

    to {
        right: 1.75rem;
    }
}

.expertise-label {
    color: rgba(225, 225, 225, .01);
    background: white;
    background: linear-gradient(rgb(233, 153, 14), rgb(247, 10, 10));
    background-repeat: repeat;
    -webkit-background-clip: text;
    font-weight: 900;
    text-shadow: 1px 1px 1px rgb(234, 227, 210);
}