<app-header (sectionScroll)="handleScroll($event)"></app-header>
<div class="main-container" *ngIf="data$ | async as data">
    <!--Profile-->
    <section id="profile"
        class="relative bg-[url('/assets/img/profile/bg1.jpg')] bg-no-repeat bg-cover h-[300px] lg:h-[100vh] w-100 flex justify-center items-center sm:bg-contains">
        <div class="absolute top-0 left-0 h-[100%] w-[100%] bg-[linear-gradient(rgba(0,0,0,0.5),black)]"></div>
        <app-profile></app-profile>
    </section>
    <!--Experience-->
    <section id="experience" class="h-[450px] lg:h-[100vh] bg-[linear-gradient(#292929,#333333)]">
        <h1 class="font-bold px-7 pt-7 text-white text-center text-2xl">{{data.experience.label}}</h1>
        <div class="indent-4 px-12 py-7">
            <app-experience></app-experience>
        </div>
    </section>
    <!--Skills-->
    <section id="skills" class="w-100 bg-[#292929]">
        <h1 class="font-bold px-7 pt-7 text-white text-center text-2xl">{{data.technicalSkills.label}}</h1>
        <div class="indent-4 px-12 py-7">
            <app-skills></app-skills>
        </div>
    </section>
    <!--Education-->
    <section id="education" class="w-100 bg-[linear-gradient(#333333,#292929)]">
        <h1 class="font-bold px-7 pt-7 text-white text-center text-2xl">{{data.education.label}}</h1>
        <div class="indent-4 px-12 py-7">
            <app-education></app-education>
        </div>
    </section>
    <!--Contacts-->
    <section id="contact" class="h-100 w-100 bg-gray-600">
        <h1 class="font-bold px-7 pt-7 text-white text-center text-2xl">Please Stay In Touch</h1>
        <div class="indent-4 px-12 pt-7">
            <app-contact></app-contact>
        </div>
    </section>
</div>