<div class="banner">
    <div class="slider" style="--quantity: 6">
        <div class="item" style="--position: 1">
            <img src="assets/img/skills/60/angular-60.png" alt="">
            <div class="skill-label font-bold text-orange-700">Angular</div>
        </div>
        <div class="item" style="--position: 2">
            <img src="assets/img/skills/60/javascript-60.png" alt="">
            <div class="skill-label font-bold">JavaScript</div>
        </div>
        <div class="item" style="--position: 3">
            <img src="assets/img/skills/60/html-60.png" alt="">
            <div class="skill-label font-bold text-orange-500">HTML</div>
        </div>
        <div class="item" style="--position: 4">
            <img src="assets/img/skills/60/css-60.png" alt="">
            <div class="skill-label font-bold text-blue-500">CSS</div>
        </div>
        <div class="item" style="--position: 5">
            <img src="assets/img/skills/60/vuejs-60.png" alt="">
            <div class="skill-label font-bold text-green-500">VueJS</div>
        </div>
        <div class="item" style="--position: 6">
            <img src="assets/img/skills/60/tailwind-css-60.png" alt="">
            <div class="skill-label font-bold text-blue-300">Tailwind</div>
        </div>
    </div>
</div>